h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 100px;
  color: salmon;
  text-decoration: underline;
}

img {
  height: 275px;
  width: 275px;
  border: 10px;
  margin: 30px;
  align-items: center;
}
